<script setup lang="ts">
import { computed, type PropType, watch } from 'vue';

import { Swiper, SwiperSlide } from 'swiper/vue';
// import 'swiper/css';

const props = defineProps({
  modelValue: {
    type: [Number, String, Object] as PropType<any>,
    required: true,
  },
  options: {
    type: Array as PropType<object[]>,
    required: true,
  },

  loop: {
    type: Boolean as PropType<boolean>,
    default: false,
  },
  optionsPerView: {
    type: [Number, String] as PropType<number | 'auto'>,
    default: 'auto',
  },
  speed: {
    type: Number as PropType<number>,
    default: 300,
  },
  wheelSpeed: {
    type: Number as PropType<number>,
    default: 300,
  },
});

const emit = defineEmits(['update:modelValue']);

let swiperInstance = null;

const modelValueIndex = computed(() => {
  const index = props.options.findIndex((option) => option === props.modelValue);

  return index === -1 ? 0 : index;
});

function handleSwiperInit(swiper) {
  swiperInstance = swiper;

  swiperInstance.slideToLoop(modelValueIndex.value, 0);
}
function handleSlideChange(swiper) {
  const option = props.options[swiper.realIndex];

  emit('update:modelValue', option);
}

watch(
  () => props.modelValue,
  () => {
    if (!swiperInstance || modelValueIndex.value === swiperInstance?.realIndex) return;

    swiperInstance.slideToLoop(modelValueIndex.value);

    setTimeout(() => {
      swiperInstance.loopDestroy();
      swiperInstance.loopCreate();
    }, props.speed);
  },
);

function handleWheel(event: WheelEvent) {
  const { deltaY } = event;

  const slideMethod = deltaY > 0 ? 'slideNext' : 'slidePrev';
  swiperInstance[slideMethod](props.wheelSpeed);
}
</script>

<template>
  <Swiper
    class="monster-picker"
    direction="vertical"
    :speed="props.speed"
    :slides-per-view="optionsPerView"
    :loop="loop"
    centered-slides
    slide-to-clicked-slide
    watch-slides-progress
    @init="handleSwiperInit"
    @slide-change="handleSlideChange"
    @wheel.prevent="handleWheel"
  >
    <SwiperSlide
      class="monster-picker__option"
      v-for="(option, optionIndex) in props.options"
      :key="optionIndex"
      v-slot="{ isActive }"
    >
      <slot name="option" :option="option" :is-active="isActive">
        <span class="monster-picker__font monster-picker__font--option">
          {{ option }}
        </span>
      </slot>
    </SwiperSlide>
  </Swiper>
</template>

<style lang="scss">
.monster-picker {
  &__option {
    cursor: pointer;

    &.swiper-slide {
      height: auto;
    }
  }
}
</style>
