<script setup lang="ts">
import { ref } from 'vue';
import 'swiper/css';

import AppPicker from '@/components/PickerBase.vue';

const options = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];

const modelValue = ref(options[0]);

function randomize() {
  modelValue.value = Math.ceil(Math.random() * 12);
  console.log('Random value:', modelValue.value);
}
</script>

<template>
  <div class="app">
    <div class="app__wrapper">
      <div>Value: {{ modelValue }}</div>

      <button type="button" @click="randomize">Randomize</button>

      <AppPicker
        class="app__picker"
        :options="options"
        v-model="modelValue"
        :options-per-view="5"
        loop
      >
        <template #option="{ option, isActive }">
          <span>{{ option }}: {{ isActive }}</span>
        </template>
      </AppPicker>
    </div>
  </div>
</template>

<style scoped lang="scss">
.app {
  &__wrapper {
    width: 400px;
  }

  &__picker {
    height: 400px;
    background-color: #555555;
  }
}
</style>

<style lang="scss">
.monster-picker {
  $parent: &;

  display: block;

  &__option {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #333;
    border: 1px solid #fff;
  }
}
</style>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  text-align: inherit;

  &:disabled {
    color: inherit;
  }
}
</style>
